.month1.block1 
	.slider1
		li Yes
		li No
		li Maybe
		li Yes
		li Maybe
		li No
		li Maybe
		li No
		li Yes
		li No
		li No
		li Maybe
		li Yes

.month2.block2 
	.slider2
		li Yes
		li No
		li Maybe
		li Yes
		li Maybe
		li No
		li Maybe
		li No
		li Yes
		li No
		li No
		li Maybe
		li Yes
		
		
.month3.block3
	.slider3
		li Yes
		li No
		li Maybe
		li Yes
		li Maybe
		li No
		li Maybe
		li No
		li Yes
		li No
		li No
		li Maybe
		li Yes